

<main>
  <ul class="lists"> 
    <% @lists.each do |list| %>
      <a href="<%=  list_path(list)%>">
        <li class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random)">
          <h2><%= list.name %></h2>
        </li>
      </a>
  <% end %>
  <ul>
</main>