nav {
  justify-content: space-between;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 2em;
  ul {
    list-style: none;
    display: flex;

    li {
      padding: 0 1em;
    }
  }
}
